#body-container {
    background-color: black;
}

.wd-list-group-mine .list-group-item {
    background-color: black;
}

.wd-list-group-mine .list-group-item.disabled {
    background-color: black;
}

.wd-list-group-mine .list-group-item.active {
    background-color: black;
    border-color: black;
}

.wd-list-group-right .list-group-item {
    background-color: #16181C;
}

.wd-list-group-right .list-group-item.disabled {
    background-color: #16181C;
}

.wd-list-group-right .list-group-item.active {
    background-color: #16181C;
    border: none;
}

.wd-input-group .form-control {
    background-color: #212327;
    border-color: #212327;
}

.wd-nav-link .nav-link {
    color: grey;
}

.wd-row-border .border {
    border-color: rgb(110,118,125) !important;
}

.wd-content {
    font-size: 15px;
    color: white;
}

.wd-content-white {
    color: white;
}

.wd-content-grey {
    color: grey;
}

.wd-content-blue {
    color: #3882BA;
    !important;
}

.wd-background-white {
    background-color: white;
}

a:link, a:visited {
    color: grey;
}

a:hover, a:active {
    background-color: grey;
}